.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 確保 logo 和 ul 標籤在兩側 */
    padding: 10px 20px;
    background-color: #272727;
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0 auto; /* 自動邊距使項目列表在其容器中水平居中 */
    padding: 0;
    flex: 1; /* 允許列表彈性地填充空間 */
    justify-content: center; /* 列表內的項目將被居中對齊 */
    align-items: center;
    flex-grow: 1;
    font-family: 'nes';
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: rgb(207, 207, 207);
    text-decoration: none;
}

